{% extends 'layout_login.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %} Stack : Login {% endblock %}
{% block body %}
<div class="card-body">
    <p class="login-box-msg">Veuillez vous connecter</p>
	{% if error %}
		<div class="alert alert-danger" role="alert">
			{{ message |trans(error.messageData, 'security') }}
		</div>
	{% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
		{% if csrf_token %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
		{% endif %}
        <div class="input-group mb-3">
			<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="Nom d'utilisateur"/>
			<div class="input-group-append">
				<div class="input-group-text">
					<span class="fas fa-user"></span>
				</div>
			</div>
        </div>
        <div class="input-group mb-3">
		  <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Mot de passe"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="icheck-primary">
            </div>
          </div>
          <!-- /.col -->
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">Connexion</button>
          </div>
          <!-- /.col -->
        </div>
    </form>
	<br/>
   

    </div>
    <!-- /.card-body -->

	{% endblock %}
	{% block footer %}{% endblock %}
